<html>
    <body>
        <style>
            body: {
                font-family: arial;
            }
        </style>

        <h2>Olá {{ ad.author.name }}</h2>

        <p>
            Você tem uma solicitação de compra do produto <strong> {{ ad.title }} </strong> por parte de <strong>{{ user.name }}</strong>.
            <br><br>
             a observação enviada pelo interessado:
             <br>
             {{ content }}
        <p>
    </body>
</html>
