{% extends "_layouts/default.njk" %}

{% block body %}
    <div class="content">
        <strong>Olá, {{ user.name }}!</strong>
        <p>Acompanhe os seus agendamentos:</p>

        <form action="">
            <input type="text" class="flatpickr" placeholder="Escolha uma data">
        </form>
       
        <div id="customers"></div>

        <a href="/app/logout" class="logout">Sair</a>
    </div>

    <script type="text/javascript">
        flatpickr('.flatpickr', {
            minDate: new Date(),
            dateFormat: 'd/m/Y',
            onChange: function(date){
                fetch(`/app/list-customers?date=${date[0].getTime()}`).then(function(response){
                    response.text().then(function(html){
                        document.getElementById('customers').innerHTML = html;
                    })
                })
            }
        });
    </script>
{% endblock %}