<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Informe sua idade :)</h1>
    <form action="/calcular" method="POST">
        <input type="number" name="idade">
        <button type="submit">Submeter</button>
    </form>
</body>
</html>
