<html>
    <head></head>
    <title>Lista</title>
    <body>
        <h1>Cadastrar novo usuário</h1>

        <form name="form-new-user" method="POST" action="/create">
            <input  name="name" type="text">
            <button type="submit">Cadastrar</button>
        </form>

        <a href="/">Lista de usuários</a>
    </body>
</html>